
  <body>
  <div class="container-fluid">
  <fieldset>
    <div class="titlebar">Volunteer</div>
      <div class="row show-grid">
		<md-input-container flex>
		  <label>First Name</label>
			<div class="span3">
			  <input ng-model="firstName" type="text"/>
			</div>
		</md-input-container>
		
		<md-input-container flex>
		  <label>Last Name</label>
			<div class="span3">
			  <input ng-model="lastName" type="text"/>
			</div>
		</md-input-container>
	  </div>
      <div class="row show-grid">
		<md-input-container flex>
		  <label>Gender</label>
			<div class="span3">
			  <input ng-model="gender" type="text"/>
			</div>
		</md-input-container>
		
		<md-input-container flex>
		  <label>Email-ID</label>
			<div class="span3">
				<input ng-model="email" type="text"/>
			</div>
		</md-input-container>
	  </div>
	 </fieldset>
	</div>

      

</body>
